@import './variables.scss';

.about {
    margin: 0;
    padding: 0;

    .aboutHeader{
        margin-top: 7em;
        margin-bottom: 9em;
        display: flex;
        justify-content: center;

        .aboutTitle{
            h1{
                text-align: center;
                margin-bottom: 0%;
                font-size: 4rem;
                color: $darkRed;
            }
            h2{
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 1.5rem;
                color: $red;
            }
        }

    }
    .aboutList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 5em;
        margin-left: 7em;

        .aboutItem{
            text-decoration: none;
            width: 20em;
            height: 20em;
            margin-bottom: 10em;

            .profilePic{
                display: flex;
                justify-content: center;
            }


            .description{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                svg{
                    font-size: 2.5rem;
                    color: $darkRed;
                    &:hover{
                        color: $red;
                    }
                }
            }
            
            img{
                width: 12em;
                height: 12em;
            }
            h1{
                font-size: 2rem;
                margin: 0.4em;
                margin-bottom: 0em;
                white-space: nowrap;
                color: $brown;
            }
            p{
                font-size: 1.5rem;
                margin: 0.2em;
                white-space: nowrap;
                color: $black;
            }
        }
    }
    @media all and (min-width: 375px) and (max-width: 767px) {
        .aboutHeader{
            margin-bottom: 3em;
            .aboutTitle{
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 1rem;
                }
            }
    
        }
        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max(100vw);
            margin: 0;
            margin-bottom: 2em;
    
            .aboutItem{
                width: 50vw;
                height: auto;
                margin-bottom: 4em;
    
                .description{
                    svg{
                        font-size: 2rem;
                        color: $darkRed;
                        &:hover{
                            color: $red;
                        }
                    }
                }
                
                img{
                    width: 6em;
                    height: 6em;
                }
                h1{
                    font-size: 1.2rem;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        .aboutHeader{
            .aboutTitle{
                h1{
                    font-size: 3rem;
                }
                h2{
                    font-size: 1.5rem;
                }
            }
    
        }
        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
            margin-bottom: 3em;
    
            .aboutItem{
                width: 33vw;
                height: auto;
                margin-bottom: 5em;
    
                .description{
                    svg{
                        font-size: 2.5rem;
                        color: $darkRed;
                        &:hover{
                            color: $red;
                        }
                    }
                }
                
                img{
                    width: 10em;
                    height: 10em;
                }
                h1{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }

    @media all and (min-width: 1024px){

    }

}