@import './variables.scss';

.about {
    margin: 0;
    padding: 0;

    .aboutHeader{
        margin-top: 2em;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;

        .aboutTitle{
            h1{
                text-align: center;
                margin-bottom: 0%;
                font-size: 4rem;
                color: $red;
            }
            p{
                text-align: center;
                margin: 0.5em;
                padding: 0;
                font-size: 1.5rem;
                color: $red;
            }
        }

    }

    .fundraising{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        img{
            width: max(100vw);
        }
        h2{
            text-align: center;
            padding: 1em;
            margin: 0;
            font-size: max(1.5em);
        }
    }

    .title{
        h1{
            text-align: center;
            font-size: 3.5rem;
            color: $red;
        }
    }

    .aboutList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 0em;
        .aboutItem{
            text-decoration: none;
            margin-bottom: 1em;

            .profilePic{
                display: flex;
                justify-content: center;
            }

            .starsContainer{
                display: flex;
                justify-content: center;
                .stars{
                    margin: 0.2em 0em 0.2em 0em;
                    height: max(3em);
                    width: auto;
                }
            }

            .description{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                svg{
                    font-size: 2.5rem;
                    color: $red;
                    &:hover{
                        color: $darkRed;
                    }
                }
            }
            
            
            img{
                width: 12em;
                height: 12em;
            }
            h1{
                font-size: 2rem;
                margin: 0.4em;
                margin-bottom: 0em;
                white-space: nowrap;
                color: $black;
            }
            p{
                font-size: 1.5rem;
                margin: 0.2em;
                white-space: nowrap;
                color: $black;
            }
        }
    
    }

    .diamondList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 1em;
        .aboutItem{
            text-decoration: none;
            margin-bottom: 1em;

            .profilePic{
                display: flex;
                justify-content: center;
            }

            .starsContainer{
                display: flex;
                justify-content: center;
                .stars{
                    margin: 0;
                    height: max(0em);
                }
            }

            .description{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            
            
            img{
                width: 12em;
                height: 12em;
            }
            h1{
                font-size: 1.5rem;
                margin: 0.4em;
                margin-bottom: 0em;
                white-space: nowrap;
                color: $black;
            }
            p{
                font-size: 1.5rem;
                margin: 0.2em;
                white-space: nowrap;
                color: $black;
            }
        }
    
    }

    .chat{
        h2{
            color: $red;
            text-align: center;
            font-size: 1.8em;
            margin: 0;
        }
        p{
            font-size: 1.5em;
            line-height: 2em;
            margin: 1em;
            color: black;
            justify-content: center;
        }
        a{
            color: $red;
            &:hover{
                color:$green;
            }
        }
    }
    
    @media all and (min-width: 300px) and (max-width: 767px) {
        .aboutHeader{
            margin-bottom: 1em;
            .aboutTitle{
                margin-top: 1em;
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                }
            }
    
        }
        .fundraising{
            margin-bottom: 1em;
            img{
            }
            h2{
                font-size: max(0.5em);
            }
        }
        .title{
            h1{
                font-size: 1.5rem;
            }
        }
        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max(100vw);
            margin: 0;
            margin-bottom: 0em;
    
            .aboutItem{
                margin-bottom: 1em;

                .starsContainer{
                    .stars{
                        height: max(1em);
                    }
                }
    
                .description{
                    svg{
                        font-size: 1.5rem;
                    }
                }
                
                img{
                    width: 6em;
                    height: 6em;
                }
                h1{
                    font-size: 0.7rem;
                }
                p{
                    font-size: 0.7rem;
                }
            }
        }

        .diamondList{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max(100vw);
            margin: 0;
            margin-bottom: 1em;
    
            .aboutItem{
                margin-bottom: 1em;
    
                .description{
                    svg{
                        font-size: 1.5rem;
                    }
                }
                
                img{
                    width: 6em;
                    height: 6em;
                }
                h1{
                    font-size: 0.7rem;
                }
                p{
                    font-size: 0.7rem;
                }
            }
        }
        .chat{
            h2{
                font-size: 1.3em;
            }
            p{
                font-size: 1em;
            }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        .aboutHeader{
            margin-bottom: 0em;
            .aboutTitle{
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
    
        }
        .fundraising{
            margin-bottom: 1em;
            img{
            }
            h2{
                font-size: max(1.2em);
            }
        }
        .title{
            h1{
                font-size: 2rem;
            }
        }

        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
            margin-bottom: 0em;
    
            .aboutItem{
                margin-bottom: 1em;

                .starsContainer{
                    .stars{
                        height: max(1.5em);
                    }
                }
    
                .description{
                    svg{
                        font-size: 2.5rem;
                    }
                }
                
                img{
                    width: 10em;
                    height: 10em;
                }
                h1{
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }

        .diamondList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
            margin-bottom: 1em;
    
            .aboutItem{
                margin-bottom: 1em;

    
                .description{
                    svg{
                        font-size: 2.5rem;
                    }
                }
                
                img{
                    width: 10em;
                    height: 10em;
                }
                h1{
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }

    @media all and (min-width: 1024px){
        .aboutList{
            .aboutItem{
                .description{
                    svg{
                        font-size: 2.5rem;
                    }
                }
                
                img{
                    width: 15em;
                    height: 15em;
                }
                h1{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }

}