@import './variables';

.chat{
    h2{
        color: $red;
        text-align: center;
        font-size: 1.7em;
        margin: 0;
    }
    p{
        font-size: 1.3em;
        line-height: 2em;
        margin: 1em 3em 1em 3em;
        color: black;
        justify-content: center;
    }
    a{
        color: $red;
        &:hover{
            color:$green;
        }
    }

    @media all and (min-width: 300px) and (max-width: 767px) {
        h2{
            font-size: 0.9em;
            margin: 0em 1em 0em 1em;
        }
        p{
            font-size: 0.8em;
            margin: 0.8em 2em 0.8em 2em;
        }
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        h2{
            font-size: 1.5em;
            margin: 0em 1em 0em 1em;
        }
        p{
            font-size: 1.3em;
            margin: 1em 1.5em 1em 1.5em;
        }
    }
    @media all and (min-width: 1024px){
        h2{
            font-size: 1.7em;
            margin: 0em 1em 0em 1em;
        }
        p{
            font-size: 1.3em;
            margin: 1em 1.5em 1em 1.5em;
        }
    }
}