@import './variables';

.home{
    .header{
        margin-top: 4em;
    }

    .intro{
        background-image: url('../assets/background1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        text-align: center;

        .top{  
            h3{
                padding-top: 2em;
                margin: 0em;
                font-size: 4rem;
                color: $red;
            }
            h2{
                color: $red;
            }
        }
    }

    .founder{
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;

        .profile{
            margin: 0em 3em 0em 3em;
            h2{
                font-size: 1.9rem;
                color: $black;
                text-align: center;
            }
            img{
                margin-top: 2em;
                width: 12em;
            }
        }
        
        .textBlock{
            margin-top: 1.5em;
            margin: 0em 3em 0em 3em;
            h1{
                margin-bottom: 0.5em;
                font-size: 2rem;
                color: $red;
            }
            p{
                margin: 0;
                font-size: 1.5rem;
                line-height: 1.4em;
            }
            h2{
                margin: 0.5em 0em 0.5em 0em;
                font-size: 1.5rem;
                color: $red;
            }
        }
    }

    .merch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        h1{
            margin: 0em;
            text-align: center;
            font-size: 2.5rem;
            color: $red;
        }
        h2{
            margin: 0.5em 4em 0.5em 4em;
            text-align: center;
            font-size: 1.5rem;
            color: $red;
        }
        a{
            color: $green;
        }
        img {
            margin: 1em;
            padding: 1em;
            width: max(22em);
            border: 1px solid $black;
            border-radius: 1em;
        }
    }


    /* smartphones portrait*/
    @media all and (min-width: 300px) and (max-width: 767px) and (orientation:portrait) {
        .intro{
            height: 62vh;
    
            .top{  
                margin-top: 2em;
                h3{
                    padding-top: 1.5em;
                    font-size: 1.2rem;
                }
                h2{
                    margin: 0.2em;
                    font-size: 0.8rem;
                }
            }
        }

        .founder{
            display: flex;
            justify-content: center;
            margin-top: 1em;
            margin-bottom: 1em;
    
            .profile{
                margin: 0em 1em 0em 1em;
                h2{
                    font-size: 1.5rem;
                }
                img{
                    width: 7em;
                }
            }
            
            .textBlock{
                margin: 0em 1em 0em 1em;
                h1{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.3em;
                }
                h2{
                    font-size: 1rem;
                }
            }
        }

        .merch{
            margin-top: 1em;
            margin-bottom: 2em;
            h1{
                margin: 0.1em;
                font-size: 1.5rem;
            }
            h2{
                font-size: 1em;
                margin: 0.5em;
            }
        }
    }
    /* smartphones landscape*/
    @media all and (min-width: 600px) and (max-width: 1023px) and (orientation:landscape) {
        .intro{
            height: 170vh;
    
            .top{  
                margin-top: 3em;
                h3{
                    font-size: 2rem;
                    padding-top: 1em;
                }
                h2{
                    margin: 0.2em;
                    font-size: 1.2rem;
                }
            }
        }

        .founder{
            margin-top: 1em;
            margin-bottom: 1em;
    
            .profile{
                margin: 0em 1em 0em 1em;
                h2{
                    font-size: 1.2rem;
                }
                img{
                    width: 7em;
                }
            }
            
            .textBlock{
                margin: 0em 1em 0em 1em;
                h1{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1.4em;
                }
                h2{
                    font-size: 1rem;
                }
            }
        }
        .merch{
            margin-top: 1em;
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1rem;
            }
        }
    }
    /* tablets portrait*/
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait){
        .intro{
            height: 80vh;
    
            .top{  
                margin-top: 4em;
                h3{
                    font-size: 2.3rem;
                    padding-top: 2em;
                }
                h2{
                    margin: 0.2em;
                }
            }
        }

        .founder{
            margin-top: 1em;
            display: flex;
            justify-content: center; 
            margin-bottom: 1em;
    
            .profile{
                margin: 0em 1em 0em 1em;
                margin-left: 1em;
                h2{
                    font-size: 2.5rem;
                }
                img{
                    width: 14em;
                }
            }
            
            .textBlock{
                margin: 0em 1em 0em 1em;
                margin-left: 2em;
                h1{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 2rem;
                    line-height: 1.4em;
                }
                h2{
                    font-size: 2rem;
                }
            }
        }
    }

    /* tablets landscape*/
    @media all and (min-width: 1024px) and (orientation:landscape) {
        .intro{
            height: 95vh;
            .top{  
                margin-top: 4em;
                h3{
                    font-size: 3rem;
                    padding-top: 1em;
                }
                h2{
                    margin: 0.2em;
                }
            }
        }

        .founder{    
            margin-top: 1em;
            margin-bottom: 1em;
            .profile{
            margin: 0em 2em 0em 2em;
                h2{
                    font-size: 2.5rem;
                }
                img{
                    width: 14em;
                }
            }
            
            .textBlock{
                margin: 0em 2em 0em 2em;
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.3rem;
                    line-height: 1.4em;
                }
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }

    /*computers*/
    @media all and (min-width: 1024px){
        .intro{
            height: 110vh;
        }
    }
    
    /*larger mobile landscapes*/
}