@import './variables';

.home{
    background-color: $white;
    .header{
        margin-top: 4em;
    }

    .intro{
        background-image: url('../assets/background1.jpeg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        text-align: center;

        .top{  
            margin-top: 11em;
            h2{
                margin:0;
                font-size: 3rem;
                color: $brown;
            }
            h3{
                margin: 0em;
                font-size: 3rem;
                color: $brown
                ;
            }
            h1{
                margin: 0.3em;
                font-size: 2.3rem;
                color: $brown;
            }
            button{
                cursor: pointer;
                font-size: 1rem;
            }
        }

    }

    .founder{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 5em;
        
        height: 70vh;

        .profile{
            h2{
                font-size: 1.9rem;
                color: $brown;
            }
            img{
                width: 8em;
            }
        }
        
        .textBlock{
            margin-left: 5em;
            h1{
                color: $darkRed;
            }
        }
    }
}