@import './variables';

.home{
    .header{
        margin-top: 4em;
    }

    .intro{
        background-image: url('../assets/background1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center 0;
        text-align: center;

        .top{  
            h1{
                padding-top: 2em;
                margin: 0em;
                font-size: 4rem;
                color: $red;
            }
            p{
                margin-top: 0.5em;
                color: $red;
                font-size: 1.5rem;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            }
        }
    }

    .polish{
        margin-top: 1em;
        margin-bottom: 2em;
        text-align: center;
        .video{
            display: flex;
            justify-content: center;
            margin: 1em 0em 4em 0em
        }
        h1{
            color: $red;
            font-size: 3rem;
            margin:auto;
            text-align: center;
        }
        h2{
            color: black;
            font-size: 2em;
            margin-bottom: 1em;
        }
        p{
            color: $red;
            font-size: 1.5em;
            line-height: 2em;
            width: 90%;
            margin: auto;
        }
        .comparison{
            h2{
                margin-top: 0;
                margin-bottom: 0;
            }
            img{
                width: 30vw;
                height: auto;
            }
            iframe{
                width: 30vw;
                margin-bottom: 1em;
            }
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 4em;
        }
    }

    table{
        border-collapse:separate;
        border:solid black 1px;
        border-radius:8px;
        img{
            width: 5em;
        }
        h1{
            font-size: 2rem;
            color: $red;
            margin: 0;
        }
        h2{
            font-size: 2rem;
            color: $red;
        }
        p{
            font-size: 1rem;
        }
        text-align: center;
        width: 90%;
        margin:auto;
        margin-bottom: 5em;
        th{
            vertical-align: top;
            border-left:solid black 1px;
            border-top: none;
            background-color: white;
            width: 20%;
            height: 20%;
            &:first-child{
                border-left: none;
            }
            h2{
                margin: 0em;
            }
            p{
                margin: 0em;
                font-weight: normal;
            }
        }
        tr{
            &:last-child{
                border-bottom: none;
            }
        }
        td{
            border-left:solid black 1px;
            border-top:solid black 1px;
            background-color: white;
            width: 20%;
            height: 20%;
            &:first-child{
                border-left: none;
            }
            h2{
                margin: 0em;
            }
            p{
                margin: 0em;
                font-weight: normal;
            }
        }
    }

    .chat{
        h1{
            font-size: 3rem;
            color: $red;
            text-align: center;
            margin-bottom: 0;
        }
        .buttonContainer{
            .scheduleButton{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            margin-bottom: 0.5em;
            margin-top: 0;
            color: $red;
            align-items: center;
            .alarm{
                display: flex;
                justify-content: center;
                img{
                    width: 10vw;
                }
            }
            a{
                text-decoration: none;
            }
            .button{
                text-align: center;
                font-size: 2rem;
                padding: 1em;
                color: white;
                background-color: $red;
                border: solid 1px $red;
                border-radius: 50px;
                width: 30vw;
                &:hover{
                    background-color: $green;
                    border: solid 1px $green;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }


    /* smartphones portrait*/
    @media all and (min-width: 300px) and (max-width: 767px) and (orientation:portrait) {
        .header{
            margin-top: 3em;
        }
        .intro{
            height: 62vh;
            .top{  
                h1{
                    padding-top: 0.6em;
                    font-size: 1.6rem;
                }
                p{
                    font-size: 0.7rem;
                    
                }
            }
        }

        .polish{
            .video{
                margin-top: 1em;
                height: auto;
            }
            h1{
                font-size: 1.2em;
                width: 90%;
            }
            h2{
                font-size: 1em;
                width: 90%;
                margin:auto;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            p{
                font-size: 1.2em;
                line-height: 1.4em;
            }
            .marketing{
                display: block;
                iframe{
                    width: 100vw;
                }
                .example{
                    .exampleImage{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .comparison{
                .beforeAfter{
                    img{
                        height: 25vh;
                    }
                }
            }
        }

        table{
            img{
                width: 3em;
            }
            h1{
                font-size: 0.8rem;
            }
            h2{
                font-size: 0.8rem;
            }
            p{
                font-size: 0.5rem;
            }
        }

        .chat{
            h1{
                font-size: 1.5rem;
            }
            .buttonContainer{
                font-size: 4rem;
                .button{
                    width: 65vw;
                    font-size: 1rem;
                }
            }
        }

        .merch{
            margin-top: 1em;
            margin-bottom: 2em;
            h1{
                margin: 0.1em;
                font-size: 1.5rem;
            }
            h2{
                font-size: 1em;
                margin: 0.5em;
            }
        }
    }
    /* smartphones landscape*/
    @media all and (min-width: 600px) and (max-width: 1023px) and (orientation:landscape) {
        .intro{
            height: 170vh;
            margin-top: -em;
            .top{  
                margin-top: -3em;
                h1{
                    font-size: 2rem;
                    padding-top: 1.7em;
                }
                p{
                    font-size: 1rem;
                }
            }
        }

        .chat{
            h1{
                font-size: 1.5rem;
            }
            .buttonContainer{
                font-size: 4rem;
                .button{
                    width: 35vw;
                    font-size: 1rem;
                }
            }
        }

        .merch{
            margin-top: 2em;
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1rem;
            }
        }

        .polish{
            h1{
                font-size: 1.5em;
                width: 90%;
            }
            h2{
                font-size: 1.2em;
                width: 90%;
                margin:auto;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            p{
                font-size: 1.3em;
                line-height: 1.5;
            }
            .marketing{
                display: block;
                iframe{
                    width: 80vw;
                }
                .example{
                    .exampleImage{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .comparison{
                .beforeAfter{
                    img{
                        height: 90vh;
                    }
                }
            }
        }

        table{
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 0.8rem;
            }
        }
        
    }

    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:landscape) {
        .intro{
            height: 170vh;
            margin-top: -em;
            .top{  
                margin-top: -1.5em;
                h1{
                    font-size: 2.7rem;
                    padding-top: 0.7em;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }

        .polish{
            .marketing{
                display: block;
                iframe{
                    width: 80vw;
                }
                .example{
                    .exampleImage{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        table{
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 0.8rem;
            }
        }
    }

    /* tablets portrait*/
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait){
        .header{
            margin-top: -5em;
        }

        .intro{
            height: 80vh;
    
            .top{  
                margin-top: 4em;
                h1{
                    font-size: 2.5rem;
                    padding-top: 2.2em;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }

        .chat{
            h1{
                font-size: 3.5rem;
            }
            .buttonContainer{
                font-size: 8rem;
                .button{
                    width: 60vw;
                    font-size: 2rem;
                }
            }
        }

        .merch{
            h1{
                font-size: 3.5em;
            }
            h2{
                margin: 0.5em 0em 0.5em 0em;
                font-size: 2em;
            }
        }

        .polish{
            h1{
                font-size: 2em;
                width: 100%;
            }
            h2{
                font-size: 1.5em;
                width: 90%;
                margin:auto;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            p{
                font-size: 1.7em;
            }
            .marketing{
                display: block;
                iframe{
                    width: 80vw;
                }
                .example{
                    .exampleImage{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .comparison{
                .beforeAfter{
                    img{
                        height: 30vh;
                    }
                }
            }
        }

        table{
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }

    /* tablets landscape*/
    @media all and (min-width: 1024px) and (orientation:landscape) {
        .intro{
            height: 95vh;
            .top{  
                margin-top: 4em;
                h1{
                    font-size: 3rem;
                    padding-top: 1em;
                }
                p{
                    margin: 0.2em;
                }
            }
        }
        .polish{
            h1{
                font-size: 3em;
                width: 100%;
            }
            h2{
                font-size: 2.5em;
                width: 90%;
                margin:auto;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            p{
                font-size: 2em;
            }
            .marketing{
                display: block;
                iframe{
                    width: 50vw;
                }
                .example{
                    .exampleImage{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

    }

    /*computers*/
        @media all and (min-width: 1024px){
            .header{
                margin-top: -5em;
                .top{  
                    h1{
                        font-size: 3.8rem;
                        padding-top: 0.4em;
                    }
                    p{
                        font-size: 1.5rem;
                        margin-top: 0.5em;
                    }
                }
            }
            .intro{
                height: 110vh;
                .top{
                    padding-top: 4em;
                }
            }
            .polish{
                margin-top: 1em;
                h1{
                    font-size: 2.5rem;
                    margin:auto;
                    width: 80%;
                    color: $red;
                    text-align: center;
                }
                h2{
                    text-align: center;
                    font-size: 1.5em;
                }
                p{
                    text-align: center;
                    font-size: 1.8em;
                    line-height: 2em;
                }
                .marketing{
                    display: flex;
                    iframe{
                        width: 40vw;
                    }
                }
                .comparison{
                    .beforeAfter{
                        img{
                            height: 85vh;
                        }
                    }
                }
            }
            table{
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                }
            }

            .chat{
                h1{
                    font-size: 3rem;
                    color: $red;
                    text-align: center;
                }
                .buttonContainer{
                    font-size: 8rem;
                    .button{
                        font-size: 2rem;
                        width: 35vw;
                    }
                }
            }
        }
    
    /*larger mobile landscapes*/
}