@import './variables.scss';

.johnny{
    .intro{
        margin-top: -4em;
        background-image: url('../assets/background2.jpg');
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        height: 140vh;
        
        .title{
            text-align: center;
            padding-top: 9em;
            h1{
                margin: 0;
                font-size: 4rem;
                color: $red;
            }
            h2{
                padding: 0em 1em 0em 1em;
                color: $red;
                margin: 0;
                font-size: 1.5em;
            }
        }
    }

    .originPitch{
        text-align: center;
        h1{
            margin-top: 0.5em 0em 0.5em 0em;
            color: $red;
            font-size: 4rem;
        }
        button{
            color: $black;
            margin: 0.5em;
            font-size: 1.5em;
        }
        .pitch{
            border: 1px solid $black;
            width: max(85vw);
        }
    }


    .achievements{
        margin-top: 1em;
        text-align: center;
        h1{
            margin: 0;
            color: $red;
            font-size: 3.5rem;
        }
        h2{
            color: $red;
        }
        p{
            margin-top: 1em;
            line-height: 2em;
            color: $black;
            font-size: 1.5em;
        }
    }

    .ongoing{
        margin-top: 1em;
        text-align: center;
        h1{
            margin: 0;
            color: $red;
            font-size: 3.5rem;
        }
        p{
            margin-top: 1em;
            line-height: 2em;
            color: $black;
            font-size: 1.5em;
        }
    }


    .wisdom{
        text-align: center;
        h1{
            margin: 0;
            font-size: max(3rem);
            color: $red;
        }
        .wise-tweets{
            margin-top: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .tweet{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $black;
                border-radius: 1em;
                margin: 1em;
                text-decoration: none;
                padding: 1em;
                p{
                    color: $black;
                    font-size: max(1.5rem);
                    line-height: 1.5em;
                }
            }
        }
    }


    /* smartphones portrait*/
    @media all and (min-width: 300px) and (max-width: 767px) and (orientation:portrait) {
        .intro{
            height: 90vh;
                      
            .title{
                padding-top: 8em;
                h2{
                    font-size: 0.9rem;
                }
                h1{
                    font-size: 1.8rem;
                }
            }
        }

        .originPitch{
            h1{
                font-size: 2rem;
                margin: 0.2em 0em 0.2em 0em;
            }
        }
    
        .achievements{
            h1{
                margin: 0;
                font-size: 2rem;
            }
            h2{
                margin: 0.5em;
                font-size: 1rem;
            }
            p{
                margin: 0;
                font-size: 1em;
            }
        }

        .ongoing{
            h1{
                margin: 0;
                font-size: 2rem;
            }
            p{
                font-size: 1em;
            }
        }
        
        .wisdom{
            h1{
                font-size: max(2rem);
            }
            .wise-tweets{
                display: flex;
                flex-direction: column;
                .tweet{
                    margin: 0em;
                    margin-bottom: 1.5em;
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.5rem);
                    }
                }
            }
        }  
    }

    /* smartphones landscape*/
    @media all and (min-width: 600px) and (max-width: 1023px) and (orientation:landscape) {
        .intro{
            margin-top: 0em;
            height: 115vh;
                        
            .title{
                padding-top: 4em;
                h2{
                    font-size: 1rem;
                }
                h1{
                    font-size: 3rem;
                }
            }
        }

        .originPitch{
            h1{
                margin: 0;
            }
        }
    
        
        .wisdom{
            h1{
                font-size: max(3rem);
            }
            .wise-tweets{
                display: block;
                flex-direction: column;
                
                .tweet{
                    margin: 1em;
                    margin-bottom: 1.5em;
                    padding: 0.5em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.5rem);
                    }
                }
            }
        }

        
    }

    /* tablets portrait*/
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait) {
        .intro{
            height: 95vh;
                      
            .title{
                padding-top: 9em;
                h2{
                    font-size: 2rem;
                }
                h1{
                    font-size: 3.5rem;
                }
            }
        }

        .originPitch{
            h1{
                font-size: 3rem;
                margin: 0.5em 0em 0.5em 0em;
            }
            button{
                color: $black;
                font-size: 1.5em;
            }
        }
    
        
        .wisdom{
            h1{
                font-size: max(4rem);
            }
            .wise-tweets{
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                .tweet{
                    margin: 0em;
                    margin-bottom: 1em;
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.7rem);
                    }
                    h2{
                        font-size: 1.3em;
                        margin: 0.5em;
                    }
                }
            }
        }

        
    }


    /* tablets landscape*/
    @media all and (min-width: 1024px) and (orientation:landscape) {
        .intro{
            margin-top: -1em;
            height: 89vh;
                        
            .title{
                padding-top: 5em;
                h1{
                    font-size: 5rem;
                }
            }
        }

        .originPitch{
            margin-bottom: 0;
            h1{
                margin: 0.2em 0em 0.2em 0em;
            }
        }
    
        .achievements{

        }

        .ongoing{

        }
        
        .wisdom{
            h1{
                font-size: max(4rem);
            }
            .wise-tweets{
                .tweet{
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.3rem);
                    }
                    h2{
                        font-size: 1.3em;
                        margin: 0.5em;
                    }
                }
            }
        }
        
    }
    
    @media all and (min-width: 1280px){
        .intro{
            margin-top: -4em;
            height: 110vh;

            .title{
                padding-top: 8.5em;
            }
        }
    }
    
}
