@import './variables.scss';

.johnny{
    .intro{
        margin-top: 3.5em;
        background-image: url('../assets/background2.jpg');
        background-size: 100%;
        background-position: center 0;
        background-repeat: no-repeat;
        height: 137vh;
        
        .title{
            text-align: center;
            padding-top: 9em;
            h1{
                margin: 0;
                font-size: 4rem;
                color: $red;
            }
        }
    }

    .links{
        margin-top: 5em;
        .links-intro{
            text-align: center;
            h1{
                margin: 0;
                font-size: 3rem;
                color: $darkRed;
            }
            h2{
                margin: 0.5rem;
                font-size: 2rem;
                color: $red;
            }

        }

        .story{
            margin-top: 5em;
            display: flex;
            .origin{
                width: 50%;
                text-align: center;
                display: flex;
                flex-direction: column;

                h2{
                    font-size: 2.5rem;
                    color: $black;
                }

                .origin-story{
                    width: 33vw;
                }

                .life-mission{
                    width: 33vw;
                }
            } 
        }        
    }

    .achievements{
        padding: 4em;
        margin-top: 10em;
        text-align: center;
        h1{
            margin: 0;
            color: $darkRed;
            font-size: 3.5rem;
        }
        p{
            margin-top: 1em;
            line-height: 2em;
            color: $black;
            font-size: 1.5em;
        }
    }

    .ongoing{
        padding: 4em;
        margin-top: 5em;
        text-align: center;
        h1{
            margin: 0;
            color: $darkRed;
            font-size: 3.5rem;
        }
        p{
            margin-top: 1em;
            line-height: 2em;
            color: $black;
            font-size: 1.5em;
        }
    }

    .wisdom{
        text-align: center;
        margin-top: 10em;
        h1{
            margin: 0;
            font-size: max(3rem);
            color: $darkRed;
        }
        .wise-tweets{
            margin-top: 4em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .tweet{
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $black;
                border-radius: 1em;
                margin: 1em;
                text-decoration: none;
                padding: 1em;
                p{
                    color: $black;
                    font-size: max(1.5rem);
                    line-height: 1.5em;
                }
            }
        }
    }


    .socials{
        margin-top: 8em;
        margin-bottom: 10em;
        h1{
            margin: 0;
            font-size: 3rem;
            color: $darkRed;
            text-align: center;
        }
        h2{
            font-size: 1.5rem;
            margin: 0;
            color: $red;
            text-align: center;
        }
        .icons{
            display: flex;
            justify-content: center;
            border: 1px solid $black;
            border-radius: 2em;
            margin: 4em 5em 7em 5em;
            a{
                margin: 4em;
                img{
                    width: 5rem;
                }
                svg{
                    font-size: 5rem;
                    color: $red;
                    &:hover{
                        color: $darkRed;
                    }
                }
            }
        }
    }

    /* smartphones portrait*/
    @media all and (min-width: 375px) and (max-width: 767px) and (orientation:portrait) {
        .intro{
            background-size: 140vh;
            height: 105vh;
                      
            .title{
                padding-top: 11em;
                h2{
                    font-size: 2rem;
                }
                h1{
                    font-size: 2.5rem;
                }
            }
        }
    
        .links{
            margin-top: 0em;
            .links-intro{
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 1.5rem;
                }
    
            }
            .story{
                margin-top: 5em;
                .origin{
                    h2{
                        font-size: 1.5em;
                    }
                    .origin-story{
                        width: 45vw;
                    }
                    .life-mission{
                        width: 45vw;
                    }
                } 
            }     
        }
        
        .achievements{
            padding: 4em;
            margin-top: 5em;
            h1{
                margin: 0;
                font-size: 2rem;
            }
            p{
                font-size: 1.5em;
            }
        }

        .ongoing{
            padding: 4em;
            margin-top: 5em;
            h1{
                margin: 0;
                font-size: 2rem;
            }
            p{
                font-size: 1.5em;
            }
        }
        
        .wisdom{
            margin-top: 10em;
            h1{
                font-size: max(3rem);
            }
            .wise-tweets{
                margin-top: 2em;
                display: flex;
                flex-direction: column;
                .tweet{
                    margin: 0em;
                    margin-bottom: 1.5em;
                    width: 91.5vw;
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.5rem);
                    }
                }
            }
        }


        .socials{
            margin-top: 8em;
            margin-bottom: 10em;
            h1{
                font-size: 3rem;
            }
            h2{
                font-size: 1.5rem;
            }
            .icons{
                margin: 0.5em;
                margin-top: 2em;

                a{
                    margin: 1em;
                    img{
                        width: 2rem;
                    }
                    svg{
                        font-size: 2rem;
                        color: $red;
                        &:hover{
                            color: $darkRed;
                        }
                    }
                }
            }
        }
        
    }

    /* smartphones landscape*/
    @media all and (min-width: 667px) and (max-width: 1023px) and (orientation:landscape) {
        .intro{
            height: 160vh;
                        
            .title{
                padding-top: 5em;
                h2{
                    font-size: 3rem;
                }
                h1{
                    font-size: 3rem;
                }
            }
        }
    
        .links{
            margin-top: 0em;
            .story{
                margin-top: 5em;
                .origin{
                    .origin-story{
                        width: 45vw;
                    }
                    .life-mission{
                        width: 45vw;
                    }
                } 
            }     
        }
    
        
        .wisdom{
            margin-top: 10em;
            h1{
                font-size: max(3rem);
            }
            .wise-tweets{
                margin-top: 4em;
                display: block;
                flex-direction: column;
                
                .tweet{
                    margin: 1em;
                    margin-bottom: 1.5em;
                    padding: 0.5em;
                    width: 94vw;
                    p{
                        margin: 0.5em;
                        font-size: max(1.5rem);
                    }
                }
            }
        }

        
        .socials{
            margin-top: 8em;
            margin-bottom: 10em;
            h1{
                font-size: 3rem;
            }
            h2{
                font-size: 1.5rem;
            }
            .icons{
                margin: 0.1;
                margin-top: 2em;

                a{
                    margin: 1em;
                    padding: 0em;
                    img{
                        width: 4rem;
                    }
                    svg{
                        font-size: 4rem;
                    }
                }
            }
        }
    }

    /* tablets portrait*/
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait) {
        .intro{
            background-size: 145vh;
            height: 105vh;
                      
            .title{
                padding-top: 12em;
                h2{
                    font-size: 4rem;
                }
                h1{
                    font-size: 4rem;
                }
            }
        }
    
        .links{
            margin-top: 0em;
            .links-intro{
                h1{
                    font-size: 3.5rem;
                }
                h2{
                    font-size: 2.5rem;
                }
    
            }
            .story{
                margin-top: 5em;
                .origin{
                    .origin-story{
                        width: 45vw;
                    }
                    .life-mission{
                        width: 45vw;
                    }
                } 
            }     
        }
    
        
        .wisdom{
            margin-top: 10em;
            h1{
                font-size: max(4rem);
            }
            .wise-tweets{
                margin-top: 5em;
                display: flex;
                flex-direction: column;
                .tweet{
                    margin: 0em;
                    margin-bottom: 4em;
                    width: 96vw;
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.7rem);
                    }
                    h2{
                        font-size: 1.3em;
                        margin: 0.5em;
                    }
                }
            }
        }

        
        .socials{
            margin-top: 4em;
            margin-bottom: 13em;
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 3rem;
            }
            .icons{
                margin: 1em;
                margin-top: 3em;

                a{
                    margin: 1.5em;
                    img{
                        width: 5rem;
                    }
                    svg{
                        font-size: 5rem;
                    }
                }
            }
        }
    }

    /*computers*/
    @media all and (min-width: 1024px){
        .intro{
            background-image: url('../assets/background2.jpg');
            background-size: 100%;
            height: 150vh;
        
        }
    }
    /* tablets landscape*/
    @media all and (min-width: 1024px) and (orientation:landscape) {
        .intro{
            background-size: 100%;
            height: 137vh;
                        
            .title{
                padding-top: 10em;
                h1{
                    font-size: 5rem;
                }
            }
        }
    
        .links{
            margin-top: 0em;
            .story{
                margin-top: 5em;
                .origin{
                    .origin-story{
                        width: 45vw;
                    }
                    .life-mission{
                        width: 45vw;
                    }
                } 
            }     
        }
    
        
        .wisdom{
            h1{
                font-size: max(4rem);
            }
            .wise-tweets{
                .tweet{
                    padding: 1em;
                    p{
                        margin: 0.5em;
                        font-size: max(1.3rem);
                    }
                    h2{
                        font-size: 1.3em;
                        margin: 0.5em;
                    }
                }
            }
        }
        
        .socials{
            margin-top: 7em;
            margin-bottom: 13em;
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 3rem;
            }
            .icons{
                margin: 1em;
                margin-top: 3em;

                a{
                    margin: 2em;
                    img{
                        width: 5rem;
                    }
                    svg{
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}
