@import './variables';

.merch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    h1{
        margin: 0em;
        text-align: center;
        font-size: 3rem;
        color: $red;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
        color: $black;
        width: 95%;
        margin: 0.5em 0em 0em 0em;
    }
    a{
        color: $red;
        &:hover{
            color: $green;
        }
    }
    img {
        margin: 1em;
        padding: 1em;
        width: max(22em);
        border: 1px solid $black;
        border-radius: 1em;
    }

    @media all and (min-width: 300px) and (max-width: 767px) and (orientation:portrait) {
        margin-top: 2em;
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1rem;
        }
    }
    @media all and (min-width: 600px) and (max-width: 1023px) and (orientation:landscape) {
        margin-top: 2em;
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1rem;
        }
    }
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation:portrait){
        h1{
            font-size: 3.5em;
        }
        h2{
            font-size: 2em;
        }
    }
    @media all and (min-width: 1024px){
    }

}