@import './variables.scss';

.mission{
    margin: 0;
    padding: 0;
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7em;
        margin-top: 3em;
        h1{
            margin: 0;
            margin-top: 2em;
            color: $darkRed;
            font-size: 4rem;
        }
        p{
            margin: 0.5em;
            font-size: 1.5rem;
            color: $darkRed;
        }
    }

    .value{
        display: flex;
        height: max(25em);
        margin-bottom: 5em;
        h1{
            font-size: 4rem;
            color: black;
        }
        h2{
            margin: 0;
            font-size: 2rem;
            color: $black;
        }
        p{
            margin: 0.3em;
            font-size: 1.2rem;
            color: $black;
        }

        .integrity{
            background-image: url('../assets/sincere.png');
            background-size: 25em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .simple{
            background-image: url('../assets/simplicity.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .fun{
            background-image: url('../assets/fun.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .unique{
            background-image: url('../assets/unique.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }   
        
        .left{  
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


    }

}