@import './variables.scss';

.mission{
    margin: 0;
    padding: 0;
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3em;
        margin-bottom: 3em;
        h1{
            margin: 0;
            margin-top: 2em;
            color: $darkRed;
            font-size: 4rem;
        }
        p{
            margin: 0.5em;
            font-size: 1.5rem;
            color: $red;
        }
    }

    .value{
        margin: 0em 4em 0em 4em;
        display: flex;
        height: max(23em);
        text-align: center;
        h1{
            font-size: 4rem;
            color: black;
        }
        h2{
            margin: 0;
            font-size: 2rem;
            color: $black;
        }
        p{  
            margin: 0.3em;
            font-size: 1.2rem;
            color: $black;
        }

        .integrity{
            background-image: url('../assets/sincere.png');
            background-size: 25em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .simple{
            background-image: url('../assets/simplicity.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .fun{
            background-image: url('../assets/fun.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }

        .unique{
            background-image: url('../assets/unique.png');
            background-size: 35em;
            background-position: 50%;
            background-repeat: no-repeat;
        }   
        
        .left{  
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


    }

    @media all and (min-width: 375px) and (max-width: 767px) {
        .header{
            margin-bottom: 1em;
            h1{
                margin-top: 2em;
                color: $darkRed;
                font-size: 2rem;
            }
            p{
                font-size: 0.8rem;
                color: $red;
            }
        }
        .value{
            margin: 0em 1em 0em 1em;
            display: flex;
            height: max(10em);
            h1{
                font-size: 2rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
    
            .integrity{
                background-size: 6em;
            }
    
            .simple{
                background-size: 10em;
            }
    
            .fun{
                background-size: 10em;
            }
    
            .unique{
                background-size: 10em;
            }   
        }
    }

    @media all and (min-width: 768px) and (max-width: 1024px) {
        .header{
            margin-bottom: 0em;
        }
        .value{
            display: flex;
            height: max(15em);
            margin: 0em 2em 0em 2em;
            
            .left{
                h2{
                    font-size: 1.9rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }

            .right{

            }
            
            .integrity{
                background-size: 15em;
            }
    
            .simple{
                background-size: 25em;
            }
    
            .fun{
                background-size: 25em;
            }
    
            .unique{
                background-size: 25em;
            }   
        }
    }

    @media all and (min-width: 1024px){
    
    }

}