@import './variables.scss';

.navbar {
  width: 100%;
  height: 4em;
  background-color: black;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;

  .hiddenLinks{
    color: $red;
    &:hover{
      color: $green;
    }
  }

  #open{
    img {
      display: none;
    }
    .hiddenLinks {
      display: inherit;
    }
  }

  #close{
    img {
      display: inherit;
    }
    .hiddenLinks {
      display: none;
    }
  }
  
  
  .leftSide {
    white-space: nowrap;
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    .hiddenLinks{
      display: flex;
      a{
        padding: 0;
      }
    }

    img {
      width: 3em;
    }

  }
  
  
  .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .greenLogo{
      img{
        width: 3em;
      }
      position: absolute;
      right: 1em;
      margin-top: 0.1em;
    }


    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  
      svg {
          color: $white;
          font-size: 3rem;
      }
    }
  }
  
  a {
    color: $red;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right : 1.5rem;
    &:hover{
        color: $green;
        transition: 0.2s ease-in-out;
    }

  }
  
  //tiny phones
  @media all and (min-width: 300px) and (max-width: 374px){
    .leftSide{
      font-size: 0.7em;
      .hiddenLinks{
        margin-left: -2em;
        a{
          padding: 0.4em;
        }
      }
    }

    .rightSide{
      a{
        display: none;
      }
      img{
        display: none;
      }
    }
  
  }
  
  /* smartphones */

  @media all and (min-width: 375px) and (max-width: 767px){
    .leftSide{
      white-space: nowrap;
      font-size: 0.6em;
      .hiddenLinks{
        margin-left: -4em;
        a{
          padding: 0.4em;
        }
      }
    }

    .rightSide{
      a{
        display: none;
      }
      img{
        display: none;
      }
    }
  
  }
  
  @media all and (min-width: 768px) and (max-width: 1023px){
    .leftSide{
      .hiddenLinks{
        margin-left: -2em;
        a{
          padding: 0.4em;
        }
      }
    }

    .rightSide{
      white-space: nowrap;
      a{
        display: none;
      }
      img{
        display: none;
      }
    }
  
  }
  
  
  
  @media all and (min-width: 1024px){
    .leftSide{
      a{
        img{
          margin-left: 0.5em;
        }
      }
    }

    .rightSide{
      white-space: nowrap;
      margin-right: 4em;
      a{
        font-size: 1.2rem;
        display: inherit;
      }
      button {
        display: none;
      }
      .hiddenLinks {
        display: none;
      }
    }
  
    .navbar .leftSide {
      padding-left: 3em;
      font-size: 1.2em;
    }
    
    .current{
      color: $green;
    }

  }
}