@import "./_variables.scss";

.shoutouts{
    .youtubeButton{
        display: flex;
        justify-content: center;
        img{
            width: 4em;
        }
        margin-bottom: 1em;
    }

    hr{
        margin-top: 3em;
        margin-bottom: 3em;
        border-color: $red;
    }

    margin-top: 3.7em;
    .header{
        text-align: center;
        margin-bottom: 2em;
        h1{
            margin: 0;
            color: $red;
            font-size: 4rem;
        }
        h2{
            margin: 0;
            color: $red;
            font-size: 2rem;
        }
        &:first-child{
            margin-top: 1em;
        }
        p{
            color: black;
            font-size: 1.5rem;
            margin: 0.3em 0em 0em 0em;
            a{
                color: $red;
            }
        }
    }

    .aboutList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .aboutItem{
            text-decoration: none;
            margin-bottom: 1em;

            &:first-child, &:nth-child(2), &:nth-child(3){
                .profilePic{
                    img{
                        border: 3px solid $red;
                        border-radius: 8em;
                    }
                }  
            }

            .profilePic{
                display: flex;
                justify-content: center;
            }

            .starsContainer{
                display: flex;
                justify-content: center;
                .stars{
                    height: max(0);
                }
            }

            .description{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                svg{
                    font-size: 2.5rem;
                    color: $red;
                    &:hover{
                        color: $darkRed;
                    }
                }
            }
            
            img{
                width: 12em;
                height: 12em;
            }
            h1{
                font-size: 1.2rem;
                margin: 0.4em;
                margin-bottom: 0em;
                white-space: nowrap;
                color: $black;
            }
        }

    }

    .youtubeList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 1em;

        .youtubeItem{
            margin-bottom: 1em;
            height: max(12em);
            width: max(20em);
        }

        .shortsItem{
            margin-bottom: 1em;
            height: max(12em);
            width: max(20em);
        }
    }


    @media all and (min-width: 300px) and (max-width: 767px) {
        .header{
            margin-bottom: 1em;
            h1{
                font-size: 2rem;
            }
            &:first-child{
                margin-top: 0.7em;
            }
            h2{
                font-size: 1em;
            }
            p{
                font-size: 0.8rem;
            }
        }

        hr{
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }

        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max(100vw);
            margin: 0;
            margin-bottom: 2em;

            .aboutItem{
                width: 50vw;
                height: auto;
                margin-bottom: 0em;

                .starsContainer{
                    .stars{
                        margin: 0;
                        height: max(0em);
                    }
                }

                .description{
                    svg{
                        font-size: 2rem;
                    }
                }
                
                img{
                    width: 6em;
                    height: 6em;
                }
                h1{
                    font-size: 0.7rem;
                }
            }
        }

        .youtubeList{
            grid-template-columns: 1fr 1fr;
            margin-bottom: 2em;
    
            .youtubeItem{
                margin-bottom: 1em;
                height: max(6em);
                width: max(10em);
            }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        .header{
            margin-bottom: 1em;
            h1{
                font-size: 3rem;
            }
            &:first-child{
                margin-top: 0em;
            }
            h2{
                font-size: 2em;
            }
            p{
                font-size: 1.5rem;
            }
        }
        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;

            .aboutItem{
                width: 33vw;
                height: auto;
                margin-bottom: 0em;

                .starsContainer{
                    .stars{
                        height: max(0em);
                    }
                }

                .description{
                    svg{
                        font-size: 2.5rem;
                    }
                }
                
                img{
                    width: 10em;
                    height: 10em;
                }
                h1{
                    font-size: 0.8rem;
                }
            }
        }

        .youtubeList{
            grid-template-columns: 1fr 1fr 1fr;

            .youtubeItem{
                margin-bottom: 1em;
                height: max(9em);
                width: max(14em);
            }
        }
    }

    @media all and (min-width: 1024px) and (max-width: 1279px){
        .aboutList{
            .aboutItem{
                margin-bottom: 0em;

                .starsContainer{
                    .stars{
                        height: max(0em);
                    }
                }
                
                img{
                    width: 13em;
                    height: 13em;
                }
                h1{
                    font-size: 0.8rem;
                }
            }
        }

        .youtubeList{
            grid-template-columns: 1fr 1fr 1fr;

            .youtubeItem{
                margin-bottom: 1em;
                height: max(10em);
                width: max(17em);
            }
        }
    }
}
