@import "./_variables.scss";

.shoutouts{
    margin-top: 4em;
    .header{
        text-align: center;
        margin-bottom: 2em;
        h1{
            margin: 0;
            color: $darkRed;
            font-size: 4rem;
        }
        &:first-child{
            margin-top: 7em;
        }
    }

    .aboutList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .aboutItem{
            text-decoration: none;
            margin-bottom: 5em;

            .profilePic{
                display: flex;
                justify-content: center;
            }

            .starsContainer{
                display: flex;
                justify-content: center;
                .stars{
                    height: max(0);
                }
            }

            .description{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                svg{
                    font-size: 2.5rem;
                    color: $red;
                    &:hover{
                        color: $darkRed;
                    }
                }
            }
            
            img{
                width: 12em;
                height: 12em;
            }
            h1{
                font-size: 1.5rem;
                margin: 0.4em;
                margin-bottom: 0em;
                white-space: nowrap;
                color: $black;
            }
        }

    }


    @media all and (min-width: 375px) and (max-width: 767px) {
        .header{
            margin-bottom: 2em;
            h1{
                font-size: 2rem;
            }
            &:first-child{
                margin-top: 4em;
            }
        }

        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: max(100vw);
            margin: 0;
            margin-bottom: 2em;

            .aboutItem{
                width: 50vw;
                height: auto;
                margin-bottom: 2em;

                .starsContainer{
                    .stars{
                        margin: 0;
                        height: max(0em);
                    }
                }

                .description{
                    svg{
                        font-size: 2rem;
                    }
                }
                
                img{
                    width: 6em;
                    height: 6em;
                }
                h1{
                    font-size: 0.7rem;
                }
            }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        .header{
            .aboutTitle{
                h1{
                    font-size: 3rem;
                }
            }
            &:first-child{
                margin-top: 5em;
            }
        }
        .aboutList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;

            .aboutItem{
                width: 33vw;
                height: auto;
                margin-bottom: 2em;

                .starsContainer{
                    .stars{
                        height: max(0em);
                    }
                }

                .description{
                    svg{
                        font-size: 2.5rem;
                    }
                }
                
                img{
                    width: 10em;
                    height: 10em;
                }
                h1{
                    font-size: 1.1rem;
                }
            }
        }
    }

    @media all and (min-width: 1024px){

    }
}
